.image{
    width: 98%;
     height:200px;
     border-radius: 20px;
}
.single-offer{
   height:400px;
   box-shadow: 3px 8px #00000071;
    border-radius: 20px;
}

.single-offer:hover{
    transform: translate(10px, 20px);
    transition: 0.5s ease;
}

.book-button:hover{
    background-color:tomato;
    color: white;
    font-size: 25px;
    border: 0px;
    border-radius:20px;
    padding:10px 2px;
}